General Styles
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* For devices with a width up to 1024px (tablets and small laptops) */
@media (max-width: 1024px) {
  .nav-links {
    font-size: 1.3rem;
  }

  .title {
    font-size: 3rem;
  }

  .section__image-container {
    max-width: 350px;
    height: auto;
  }

  .about-containers {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .details-container {
    max-width: 90%;
  }

  .timeline {
    padding: 0 20px;
  }

  .project-image {
    max-width: 100%;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .video-container {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .contact-form-container {
    width: 100%;
  }
}

/* For devices with a width up to 768px (mobile devices) */
@media (max-width: 768px) {
  .nav-links {
    font-size: 1.2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .section__image-container {
    max-width: 300px;
    height: auto;
  }

  .about-containers {
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
  }

  .details-container {
    max-width: 100%;
    padding: 1rem;
  }

  .timeline {
    padding: 0 15px;
  }

  .project-image {
    max-width: 100%;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .video-container {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .contact-form-container {
    width: 100%;
  }
}

/* For devices with a width up to 480px (small mobile devices) */
@media (max-width: 480px) {
  .nav-links {
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .section__image-container {
    max-width: 250px;
    height: auto;
  }

  .about-containers {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .details-container {
    max-width: 100%;
    padding: 0.5rem;
  }

  .timeline {
    padding: 0 10px;
  }

  .project-image {
    max-width: 100%;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .video-container {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .contact-form-container {
    width: 100%;
  }
}

/* Extra Large Screens */
@media (min-width: 1440px) {
  .nav-links {
    font-size: 2rem;
  }

  .title {
    font-size: 5rem;
  }

  .section__image-container {
    max-width: 500px;
  }

  .about-containers {
    flex-direction: row;
  }

  .details-container {
    max-width: 70%;
  }

  .timeline {
    padding: 0 50px;
  }
}

